.container {
    padding: 80px;
    display: flex;
    justify-content: center;
}
.content {
    position: relative;
}
.lamp-top {
    position: absolute;
    top: 20px;
    left: 4px;
}
.lamp-left {
    position: absolute;
    top: 30px;
    left: 27px;
}
.lamp-right {
    position: absolute;
    top: 30px;
    right: 30px;
}
.lamp-bottom {
    position: absolute;
    left: 4px;
    top: 380px;
}


/* FIRTS FLOWER */

.flower-first {
    position: absolute;
    top: 243px;
    left: 20px;
}
.leaf-one {
    position: absolute;
    top: -5px;
    left: 19px;
}
.leaf-two {
    position: absolute;
    top: -50px;
    left: 55px;
}
.leaf-three {
    position: absolute;
    top: -23px;
    left: 84px;
}
/* SECOND FLOWER */

.flower-second {
    position: absolute;
    top: 74px;
    right: 20px;
}
.flower-third {
    position: absolute;
    /* bottom: 310px; */
    bottom: 175px;
    right: 30px;
}
.flower-fourth {
    position: absolute;
    bottom: 192px;
    left: 60px;
}
.light {
    position: absolute;
    top: 3px;
    left: 32px;
    z-index: 10;
    opacity: 0;
}